/* Estilos gerais */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Logo e fundo */

header {
    position: relative;
    background-color: #2d19e2;
    padding: 2px;
    color: #FFF;
    text-align: left;
}

.logo img {

    position: relative;
    top: 5px;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

/*pesquisa*/

.box-busca {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background: #2d19e2;
    height: 40px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    padding: 10px;
}

.search-box-input::placeholder {

    color: #ffffff;
    opacity: 0.6;
}

/* Chrome, Opera ySafari */
.search-box-input::-webkit-input-placeholder {
    color: #ffffff;
}

/* Firefox 19+ */
.search-box-input::-moz-placeholder {
    color: #ffffff;
}

/* IE 10+ y Edge */
.search-box-input:-ms-input-placeholder {
    color: #ffffff;
}

.search-box form {

    display: flex;
    border-radius: 50px;
    background-color: #252525;
    height: 45px;
}

.search-box:hover .search-box-input {

    padding-left: 2em;
    padding-right: 10em;
    width: 270px;
}

.search-box-input {
    outline: 0;
    font-size: 1.2em;
    color: #fff;
    width: 0;
    padding: 0;
    border: none;
    background: none;
    transition: .45s;
}

.search-box-button {
    display: flex;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #d6ff1e;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.search-box-button:active {
    transform: scale(.85);
}

.search-box-icone {
    margin: auto;
    color: #fff;
}

@media screen and (min-width: 400px) {

    .search-box:hover .search-box-input {
        width: 360px;
    }
}

/*Ajuda*/

.Ajuda {
    position: absolute;
    top: 50%;
    left: 1010px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    height: 40px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    padding: 10px;

}

.Aju {
   
  
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.Ajuda {
     
    display: inline-block;
}

.Ajud {
    display: none;
    position: absolute;
    right: 0;
  background-color: #d6ff1e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    
   
}

.Ajud a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   
}



.Ajuda:hover .Ajud {
  display: block;
}

.Ajuda:hover .Aju {
  color: #d6ff1e;
}

/*Catalogo*/

.Catalogo {
    position: absolute;
    top: 50%;
    left: 1150px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    height: 40px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    padding: 10px;

}

.cat {
   
  
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.Catalogo {
     
    display: inline-block;
}

.catag {
    display: none;
    position: absolute;
    right: 0;
  background-color: #d6ff1e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    
   
}

.catag a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   
}



.Catalogo:hover .catag {
  display: block;
}

.Catalogo:hover .cat {
  color: #d6ff1e;
}

/*Sobre Nós*/

.Nós {
    position: absolute;
    top: 50%;
    left: 1290px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    height: 40px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    padding: 10px;

}

.car {
   
  
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.Nós {
     
    display: inline-block;
}

.carro {
    display: none;
    position: absolute;
    right: 0;
  background-color: #d6ff1e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    
   
}

.carro a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   
}



.Nós:hover .carro {
  display: block;
}

.Nós:hover .car {
  color: #d6ff1e;
}

/*atendimento*/


.atendimento {
    position: absolute;
    top: 50%;
    left: 1450px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    height: 40px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    padding: 10px;

}

.ate {
   
  
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.atendimento {
     
    display: inline-block;
}

.atende {
    display: none;
    position: absolute;
    right: 0;
 background-color: #d6ff1e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.atende a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



.atendimento:hover .atende {
  display: block;
}

.atendimento:hover .ate {
  color: #d6ff1e;
}


/*Alerta*/

.Alerta {
    position: absolute;
    top: 50%;
    left: 1605px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    height: 40px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    padding: 10px;

}

.ale {
   
  
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
   
}

.Alerta {
     
    display: inline-block;
}

.atento {
    display: none;
    position: absolute;
    right: 0;
   background-color: #d6ff1e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.atento a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   
}



.Alerta:hover .atento {
  display: block;
}

.Alerta:hover .ale {
  color: #d6ff1e;
}

/*Login*/

.Login {

    position: absolute;
    top: 35%;
    left: 1705px;
    padding: 10px 70px;
   background-color: #d6ff1e;
   color: #000000;
   border: none;
   cursor: pointer;
   border-top-left-radius: 20px ;
   border-top-right-radius: 20px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
  
}


/*meio*/

.banner {

    padding: 100px;
    text-align: center;
    color: #000000;
}

.banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.banner p {
    font-size: 20px;
    margin-bottom: 40px;
}

.botao {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

/* Destaque de comida */

.destaques {
    padding: 60px;
}

.destaques h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card-restaurante {
    background-color: #FFF;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.card-restaurante img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card-restaurante h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-restaurante p {
    font-size: 16px;
}

/* letreiro que move */


.fundo {

    position: absolute;
    top: 11%;
   background: #d6ff1e;
    padding: 0;
    width: 100%;
    height: 50px;
    z-index: -1;

}



.iFood {
 
    position: relative;
    top: -15%;
    
    font-size: 16px;
    margin-bottom: 40px;

}




footer {
   
    color: #ffffff;
   
    
    text-align: center;
    background: #1f1f1f;
    padding: 0;
    width: 100%;
    height: 400px;
}

.Luz {

    position: absolute;
    top: 167%;
    left: 1867px;
    color: #f1f1f1;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    height: -900px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    padding: 10px;

}