/* Estilos gerais */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Logo e fundo */

header {
    position: relative;
    background-color: #2d19e2;
    padding: 2px;
    color: #FFF;
    text-align: left;
}

.logo img {

    position: relative;
    top: 5px;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

/*pesquisa*/

.box-busca {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background: #2d19e2;
    height: 40px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    padding: 10px;
}

.search-box-input::placeholder {

    color: #ffffff;
    opacity: 0.6;
}

/* Chrome, Opera ySafari */
.search-box-input::-webkit-input-placeholder {
    color: #ffffff;
}

/* Firefox 19+ */
.search-box-input::-moz-placeholder {
    color: #ffffff;
}

/* IE 10+ y Edge */
.search-box-input:-ms-input-placeholder {
    color: #ffffff;
}

.search-box form {

    display: flex;
    border-radius: 50px;
    background-color: #252525;
    height: 45px;
}

.search-box:hover .search-box-input {

    padding-left: 2em;
    padding-right: 10em;
    width: 270px;
}

.search-box-input {
    outline: 0;
    font-size: 1.2em;
    color: #fff;
    width: 0;
    padding: 0;
    border: none;
    background: none;
    transition: .45s;
}

.search-box-button {
    display: flex;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #d6ff1e;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.search-box-button:active {
    transform: scale(.85);
}

.search-box-icone {
    margin: auto;
    color: #fff;
}

@media screen and (min-width: 400px) {

    .search-box:hover .search-box-input {
        width: 360px;
    }
}

/*Ajuda*/

.Ajuda {
    position: absolute;
    top: 50%;
    left: 1010px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    height: 40px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    padding: 10px;

}

.Aju {
   
  
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.Ajuda {
     
    display: inline-block;
}

.Ajud {
    display: none;
    position: absolute;
    right: 0;
  background-color: #d6ff1e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    
   
}

.Ajud a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   
}



.Ajuda:hover .Ajud {
  display: block;
}

.Ajuda:hover .Aju {
  color: #d6ff1e;
}

/*Catalogo*/

.Catalogo {
    position: absolute;
    top: 50%;
    left: 1150px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    height: 40px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    padding: 10px;

}

.cat {
   
  
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.Catalogo {
     
    display: inline-block;
}

.catag {
    display: none;
    position: absolute;
    right: 0;
  background-color: #d6ff1e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    
   
}

.catag a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   
}



.Catalogo:hover .catag {
  display: block;
}

.Catalogo:hover .cat {
  color: #d6ff1e;
}

/*Sobre Nós*/

.Nós {
    position: absolute;
    top: 50%;
    left: 1290px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    height: 40px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    padding: 10px;

}

.car {
   
  
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.Nós {
     
    display: inline-block;
}

.carro {
    display: none;
    position: absolute;
    right: 0;
  background-color: #d6ff1e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    
   
}

.carro a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   
}



.Nós:hover .carro {
  display: block;
}

.Nós:hover .car {
  color: #d6ff1e;
}

/*atendimento*/


.atendimento {
    position: absolute;
    top: 50%;
    left: 1450px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    height: 40px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    padding: 10px;

}

.ate {
   
  
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.atendimento {
     
    display: inline-block;
}

.atende {
    display: none;
    position: absolute;
    right: 0;
 background-color: #d6ff1e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.atende a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



.atendimento:hover .atende {
  display: block;
}

.atendimento:hover .ate {
  color: #d6ff1e;
}


/*Alerta*/

.Alerta {
    position: absolute;
    top: 50%;
    left: 1605px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    height: 40px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    padding: 10px;

}

.ale {
   
  
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
   
}

.Alerta {
     
    display: inline-block;
}

.atento {
    display: none;
    position: absolute;
    right: 0;
   background-color: #d6ff1e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.atento a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   
}



.Alerta:hover .atento {
  display: block;
}

.Alerta:hover .ale {
  color: #d6ff1e;
}

/*Login*/

.Login {

    position: absolute;
    top: 35%;
    left: 1705px;
    padding: 10px 70px;
   background-color: #d6ff1e;
   color: #000000;
   border: none;
   cursor: pointer;
   border-top-left-radius: 20px ;
   border-top-right-radius: 20px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
  
}

/*Area acima*/

.fundo {

    position: absolute;
    top: 11%;
   background: #d6ff1e;
    padding: 0;
    width: 100%;
    height: 50px;
    z-index: -1;

}



.iFood {
 
    position: relative;
    top: -15%;
    
    font-size: 16px;
    margin-bottom: 40px;

}


/*meio*/

.banner {

    padding: 100px;
    text-align: center;
    color: #000000;
}

.banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.banner p {
    font-size: 20px;
    margin-bottom: 40px;
}

.botao {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

/* Destaque de comida */

#one{
    position: absolute;
    top: 48%;
    left: 25%;
    margin-top: 16%;
    margin-left:15%;
    margin-right: 2%;
    max-width: 20%;
    width: 50%;
    height: 30%;
    filter: brightness(80%) blur(5px); /* Aplica um filtro de brilho de 80% e um efeito blur de 5px no fundo */
    transition: filter 0.5s ease; /* Adiciona uma transição suave para o filtro */
}

#vse{
    position: absolute;
    top: 48%;
    left: -5%;
    margin-top: 16%;
    margin-left:15%;
    margin-right: 2%;
    max-width: 20%;
    width: 50%;
    height: 30%;
    filter: brightness(80%) blur(5px); /* Aplica um filtro de brilho de 80% e um efeito blur de 5px no fundo */
     transition: filter 0.5s ease; /* Adiciona uma transição suave para o filtro */
}

#vsa{
    position: absolute;
    top: 47.7%;
    left: 55%;
    margin-top: 16%;
    margin-left:15%;
    margin-right: 2%;
    max-width: 20%;
   width: 50%;
   height: 30%;
    filter: brightness(80%) blur(5px); /* Aplica um filtro de brilho de 80% e um efeito blur de 5px no fundo */
     transition: filter 0.5s ease; /* Adiciona uma transição suave para o filtro */
}

#one:hover{
    opacity: 1;
    transform: scale(1.1);
    box-shadow: 1px 3px 8px 4px rgb(195, 195, 195);
    filter: brightness(100%) blur(0px);
}
#vse:hover{
    opacity: 1;
    transform: scale(1.1);
    box-shadow: 1px 3px 8px 4px rgb(195, 195, 195);
    filter: brightness(100%) blur(0px);
}

#vsa:hover{
    opacity: 1;
    transform: scale(1.1);
    box-shadow: 1px 3px 8px 4px rgb(195, 195, 195);
    filter: brightness(100%) blur(0px);
}


/*descrição*/

.card-restaurante1 {

position: absolute;
top: 112%;
left: 40.2%;


}

.card-restaurante2 {

    position: absolute;
    top: 112%;
    left: 10%;

    
}

.card-restaurante3 {

    position: absolute;
    top: 112%;
    left: 70.5%;

    
}



/* letreiro que move */



footer {
   
    position: absolute;
    top: 130%;
    color: #ffffff;
    text-align: center;
    background: #1f1f1f;
    padding: 0;
    width: 100%;
    height: 400px;
}

