/* Estilos gerais */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos do cabeçalho */
  
  header {
    background-color: #2d19e2;
    padding: 10px;
    color: #FFF;
    text-align: center;
  }
  
  nav{
    margin: 0;
    background-color: #000000;
    color: #FFF;
}

.ul{
list-style-type: none;
    padding: 21px;
    margin: 0;
    background-color: black;
    text-align: center;
    width: 126%;
}

li{
  display: inline-block;
  font-weight: 700;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

li a{
  text-decoration: none;
  color: lightgray;
  padding: 10px 10px;
  align-items: left;
}
  .logo h1 {
    
    margin: 0;
    font-size: 24px;
    
  }
 
  
 
  
  /* Estilos do banner principal */
  
  .banner {
    background-image: url("banner.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px;
    text-align: center;
    color: #FFF;
  }
  
  .banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .banner p {
    font-size: 20px;
    margin-bottom: 40px;
  }
  
  .botao {
    background-color: #FFF;
    color: #000000;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
  }
  
  /* Estilos da seção de restaurantes em destaque */
  
  .destaques {
    padding: 60px;
  }
  
  .destaques h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .card-restaurante {
    background-color: #FFF;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card-restaurante img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .card-restaurante h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .card-restaurante p {
    font-size: 16px;
  }
  
  /* Estilos do rodapé */
  
  footer {
    background-color: #333;
    color: #FFF;
    padding: 20px;
    text-align: center;
  }
  
  .ifood{

    font-size: 20px;
    margin-bottom: 40px;
    
  }
  